<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Inventory</li>
  </ol>
</nav>
<br/>

<button type="button" class="btn btn-success" routerLink="/inventory-add">
	<i class="bi bi-plus-circle"></i>	
	Add Item
</button>
<div class="table-responsive">
  <table class="table">
		<caption>Inventory</caption>
		<thead>
			<tr>
				<th scope="col">Barcode</th>
				<th scope="col">Name</th>
				<th scope="col">Price</th>
				<th scope="col">Stocks</th>
				<th scope="col">Remarks</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of (items$ | async)">
				<th scope="row">{{ item.code }}</th>
				<td>{{ item.name }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.stock }}</td>
				<td>{{ item?.desc }}</td>
				<td role="button" routerLink="/inventory-edit/{{ item.id }}">
					<i class="bi bi-pencil-square"></i>
				</td>
				<td role="button" class="text-danger">
					<i class="bi bi-trash3" (click)="deleteItem(item)"></i>
				</td>
			</tr>
		</tbody>
  </table>
</div>
