<p>
  inventory-edit works!
  {{ itemId }}
</p>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/inventory">Inventory</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
<br/>

<div class="alert alert-warning" role="alert">
	<strong>Important</strong> Prioritize syncing to the cloud before editing item to prevent potential conflicts.
</div>
<form [formGroup]="inventoryForm" (ngSubmit)="onSubmit()">
	<div class="form-group mb-3">
		<label class="form-label">Barcode</label>
		<input type="number" class="form-control" formControlName="code" placeholder="Code">
		<div *ngIf="inventoryForm.get('code')?.hasError('required') && inventoryForm.get('code')?.touched" class="text-danger">
			Code is Required.			
		</div>
    <div *ngIf="inventoryForm.get('code')?.hasError('duplicateBarcode')" class="text-danger">
      This barcode already exists.
    </div>
	</div>
	<div class="form-group mb-3">
		<label class="form-label">Name</label>
		<input type="text" class="form-control" formControlName="name" placeholder="Name">
		<div *ngIf="inventoryForm.get('name')?.hasError('required') && inventoryForm.get('name')?.touched" class="text-danger">
			Name is Required.	
		</div>
	</div>
	<div class="form-group mb-3">
		<label class="form-label">Price</label>
		<input type="number" class="form-control" formControlName="price" placeholder="Price">
	<div *ngIf="inventoryForm.get('price')?.hasError('required') && inventoryForm.get('price')?.touched" class="text-danger">
			Price is Required.			
		</div>
	</div>
	<div class="form-group form-floating">
		<textarea class="form-control" formControlName="desc" placeholder="Remarks"></textarea>
		<label for="floatingTextarea">Remarks</label>
	</div>
	<br/>
	<button type="submit" class="btn btn-primary" [disabled]="!inventoryForm.valid">Submit</button>
</form>
