<div class="text-end">
  <a routerLink="/receipt" class="fs-1">
     <i class="bi bi-x"></i>
  </a>
</div>

<div class="text-center">
  <h1>
    {{ item.name }}
  </h1>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <div class="input-group input-group-lg mb-3">
          <span class="input-group-text">Price</span>
          <input type="text" class="form-control" formControlName="price" aria-label="Price">
          <div *ngIf="orderForm.get('price')?.hasError('required') && orderForm.get('price')?.touched" class="text-danger container-fluid">
            Price is Required.			
          </div>
        </div>
        <div class="input-group input-group-lg mb-3">
          <span class="input-group-text">Quantity</span>
          <input id="quantity" type="text" class="form-control" formControlName="quantity" aria-label="Quantity" #quantityInput autofocus>
          <br/>
          <div *ngIf="orderForm.get('quantity')?.hasError('required') && orderForm.get('quantity')?.touched" class="text-danger container-fluid">
            Quantity is Required.			
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-5">
            <button routerLink="/receipt" type="button" class="btn btn-danger btn-lg">Cancel</button>
          </div>
          <div class="col-md-6 col-2"></div>
          <div class="col-md-3 col-5">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="orderForm.invalid">Add</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
